<form>
Shelter Name: <input type="text" name="shelter_name"><br>
Primary Contact Full Name: <input type="text" name="primary_contact_full_name">
Primary Contact Phone Number: <input type="text" name="primary_contact_phone_numer">

</form>
