<center>
  <h2>Join Fluffy and raise money for your shelter!</h2>

  <h3>Shelter Information:</h3>

  <form>
    Shelter Name: <input type="text" name="shelter_name"><br>
    Shelter Address: <input type="text" name="shelter_name"><br>
    Shelter Phone Number: <input type="text" name="phone_number"><br>
    Sheler Type: <input type="text" name="shelter_type"><br>
    Business Verification: <input type="text" name="business_verification"><br>
    Other information you would like us to know: <input type="text" name="other_information">
  </form>
  
  <h3>Primary Contact Information</h3>
  
  <form>
    Full Name: <input type="text" name="primary_contact_full_name"><br>
    Phone Number: <input type="text" name="primary_contact_phone_numer"><br>
    Email Address: <input type="text" name="email_address"><br>
    <a href="/dashboard/new"><input type="submit" value="Submit"></a>
  </form>
</center>
