<center>
  <h1>Find shelter near you</h1>

  <form>
    Enter your zipcode: <input type="text" name="find_shelter_by_zipcode"><br>
    <input type="submit" value="Submit">
  </form>
</center>

<center>
  <h1>Dogs near you</h1>

  <div><a href="/pet/new"><h4>Adopt Sparky</h4><%= image_tag("shibe.jpeg") %></a>
    <p>Sparky details</p></div>
  <div><a href="/pet/new"><h4>Rover</h4><%= image_tag("labrador_retriever.jpeg") %></a></div>
  <div><a href="/pet/new"><h4>Spunky</h4><%= image_tag("shitzu.jpeg") %></a></div>
</center>
