<h1><center>Pet Name</center></h1>
<h4><center>Level 1</center></h4>
<h4><center>Points: 100</center></h4>

<center>
<div><%= image_tag("labrador_retriever.jpeg") %>></div>

<form>
  <input type="submit" value="$">
  <input type="submit" value="Feed">
  <input type="submit" value="Play with">
  <input type="submit" value="Sleep">
  <input type="submit" value="Take for walk">
  <input type="submit" value="View Media">
</form>

</center>
