<center>

  <h1>Fluffy</h1> 

  <h3>I am a....</h3>


  <div><a href="/adoption/new"><h4>Person</h4><%= image_tag("person.jpeg") %></a></div>
  <div><a href="/shelters/new"><h4>Shelter</h4><%= image_tag("shelter.jpeg") %></a></div>

  </center>
