<h1>I want to take care of a...</h1>

<div><a href="/dogs/new"><h4>Dog</h4><%= image_tag("dog_example.jpeg") %></a></div>
<div><a href="/cats/new"><h4>cat</h4><%= image_tag("cat_example.jpeg") %></a></div>
