<center><h1>Find shelter near you</h1>

  <form>
    Enter your zipcode: <input type="text" name="find_shelter_by_zipcode"><br>
    <input type="submit" value="Submit">
  </form>

  <h1>Cats near you: (this will popup after fill in zipcode)</h1>

  <div><a href="/pet/new"><h4>Adopt Sassy</h4><%= image_tag("siamese_cat.jpeg") %></a>
    <p>Sassy's details</p></div>
  <div><a href="/pet/new"><h4>Turkey</h4><%= image_tag("turkish_van_cat.jpeg") %></a></div>
  <div><a href="/pet/new"><h4>Tabby</h4><%= image_tag("tabby_cat.jpeg") %></a></div>
</center>
